# Normal Ignores
.venv
.idea

# TenhouDecoder files
OldTenhouDecoder.py
translations.js
log.json
log1.json

# DB files
#db/*
db/log2.json
db/2021.db
db/2021-backup.db
db/haipai.db

mjlog2json/target
mjlog2json/Cargo.lock

libriichi/target
libriichi/Cargo.lock

*-checkpoint.ipynb

db/games_clean.db